.cols {
  @include media-breakpoint-only("xs") {
    $columns: 1;
    -moz-column-count: $columns;
    -webkit-column-count: $columns;
    column-count: $columns;
  }

  @include media-breakpoint-only("sm") {
    $columns: 2;
    -moz-column-count: $columns;
    -webkit-column-count: $columns;
    column-count: $columns;
  }

  @include media-breakpoint-only("md") {
    $columns: 3;
    -moz-column-count: $columns;
    -webkit-column-count: $columns;
    column-count: $columns;
  }

  @include media-breakpoint-up("lg") {
    $columns: 4;
    -moz-column-count: $columns;
    -webkit-column-count: $columns;
    column-count: $columns;
  }
}

ul.cols {
  list-style-type: none;
}
