/*
 * Put Bootstrap customizations here. They will be compiled with the Bootstrap library automatically.
 */

//$gray-light: darken($body-bg, 15%);
$navbar-inverse-color: white;
$brand-primary: #ff00ff; /*#8f9492;*/
$brand-inverse: #4c4c4c;
$table-inverse-bg: #636363;
$blue: #026fcf; /* contrast ratio with #f5f5f5 4.61:1 */
$red: #cc4c33; /* contrast ratio with #ffffff 4.52:1 */
$green: #358535; /* contrast ratio with #ffffff 4.61:1 */
$teal: #a3e5f9; /* self-service, as light bg color #7cdaf7 has contrast ratio with #292b2c 10.25:1 */
$badge-danger-bg: #ffb0ad; /* as light bg color #ff8c89 has contrast ratio with #292b2c 8.17:1 */
$badge-success-bg: #b3ea9b; /* as light bg color #a6e689 has contrast ratio with #292b2c 10.27:1 */
$badge-info-bg: #a3e5f9; /* self-service, as light bg color #7cdaf7 has contrast ratio with #292b2c 10.25:1 */
$badge-color: $gray-dark;
