.details {
  padding: 0 0 map-get($spacers, 2) 0;

  .details-toggle {
    @extend .btn, .btn-secondary;
    display: block;
    width: 100%;
  }

  .details-content {
    padding: map-get($spacers, 2) 0;
    display: none;
  }
}

.details.expanded {
  .details-content {
    display: block;
  }
}
@include media-breakpoint-up("lg") {
  .details {
    .details-toggle {
      display: none;
    }

    .details-content {
      display: block;
    }
  }
}
