$group-bg: rgba(255, 255, 255, 0.3);

#kifi-footer {
  background: $footer-bg;
  display: flex;
  flex-flow: column;

  a {
    color: inherit;
    font-size: $font-size-sm;
  }

  #footer-logo {
    display: flex;
  }

  @include media-breakpoint-down("md") {
    #footer-logo {
      justify-content: space-around;
    }

    #footer-logo {
      .public-library-logo {
        display: none;
      }
    }

    .link-group {
      position: relative;

      ul {
        display: none;
      }

      button {
        border-width: 0;
        position: absolute;
        width: 100%;
        display: block;
        left: 0;
        top: 0;
        opacity: 0;

        // background: red;
      }
    }

    .link-group:hover {
      h3 {
        opacity: .7;
      }
    }

    [data-kfoot-open] {
      background: $group-bg;

      h3 {
        opacity: unset !important;
      }

      ul {
        display: unset;
      }
    }

    [data-kfoot-toggle][aria-expanded="false"] {
      cursor: pointer;
    }
  }

  @include media-breakpoint-up("lg") {
    #footer-logo {
      justify-content: space-between;

      img:nth-child(1) {
        margin-left: -(map-get($spacers, 2));
      }
    }

    #footer-rest {
      .public-library-logo {
        display: none;
      }
    }
    .link-group {
      text-align: left;

      button {
        display: none;
      }
    }
  }
}

#footer-links {
  flex-grow: 1;
  line-height: 1.125;
}

#footer-rest {
  img {
    max-width: 250px;
  }

  a {
    padding: 5px 8px;
  }
}

#footer-cookies {
  a {
    background-color: white;
  }
}
