.gallery {
  display: flex !important;
  flex-direction: column;

  $pad: map-get($spacers, 1);

  .thumbnails {
    width: 100%;
    // min-height: 120px;
    display: flex;
    padding: 0 0 $pad;
    margin: 0;
    justify-content: center;
  }

  .thumb {
    flex-basis: 160px;
    flex-shrink: 1;
    overflow: hidden;

    padding: $pad;
    // margin: 0 (-$pad) (-$pad) 0;
    margin: $pad 0 0 0;

    img {
      width: 100%;
    }

    &.active {
      @extend .bg-warning;
    }
  }

  .viewport {
    flex-grow: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;

    position: relative;
    margin-right: -15px;
    text-align: center;

    img {
      width: 100%;
      max-height: 100%;
      position: absolute;
      opacity: 0;
    }

    figcaption {
      @extend .btn-dark;
      @extend .px-2;
      @extend .m-2;
      @extend .d-inline-block;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: map-get($spacers, 2);
    font-size: xx-large;
    color: $white;
    background-color: $black;
    opacity: 1 !important;
  }

  // @include media-breakpoint-down("md") {
  //   flex-direction: row;
  //
  //   .thumbnails {
  //     width: auto;
  //     flex-direction: column;
  //   }
  // }
}
