.nav-link.active {
  font-weight: $font-weight-bold;
  background-color: lighten($navbar-bg, 5%);
}

.navbar {
  .dropdown {
    z-index: $zindex-popover;
  }
}

.sidebar {
  .nav-item {
    display: block;
  }
}

.sidebar-float-left {
  position: absolute;
  left: 0;
  top: 1rem;
  z-index: 9999;
}

.sidebar-float-right {
  @extend .sidebar-float-left;
  left: auto;
  right: 1rem;
}

.sidebar-fixed-left {
  @extend .sidebar-float-left;

  position: fixed;
}

.sidebar-fixed-right {
  @extend .sidebar-fixed-left;

  right: 1rem;
  left: auto;
}

.navbar-brand {
  font-size: ($font-size-base * 1.3);
  font-weight: 600;

  // Try to align baseline of the text to other navi items.
  margin-top: -0.12rem;
}

.navbar .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-pills .nav-link {
  border-top-left-radius: $nav-tabs-border-radius;
  border-top-right-radius: $nav-tabs-border-radius;
}

.navbar {
  .navbar-toggler {
    color: $white;
    background-color: $primary;
    border-color: $gray-200;
    border-radius: $btn-border-radius;
    font-size: ($font-size-base * 1.3);
    font-weight: bold;
    padding-bottom: 5px;

    // Copied from $transition-collapse as these are not in atomic variables.
    transition: 0.35s background-color ease;
  }

  .navbar-toggler.collapsed {
    background-color: unset;
  }
}

@include media-breakpoint-down("sm") {
  .navbar {
    .nav-link {
      padding-left: $spacer;
      padding-right: $spacer;
      margin-left: -1 * $spacer;
      margin-right: -1 * $spacer;
    }
  }
}

@include media-breakpoint-up("md") {
  .navbar {
    .navbar-collapse {
      justify-content: space-between;
    }

    .nav-link:last-child {
      margin-right: -(map-get($spacers, 2));
    }
  }
}
