/*
 * Put Bootstrap customizations here. They will be compiled with the Bootstrap library automatically.
 */

$enable-rounded: false;
$enable-gradients: false;
$enable-shadows: false;

// Colors

$blue: #026fcf; /* contrast ratio with #f5f5f5 4.61:1, meets wcag 2.0 aa; link color */
$red: #cc4c33; /* contrast ratio with #ffffff 4.52:1, meets wcag 2.0 aa */
$red-darker: #b3341b; /* contrast ratio with #f5dbd6 (schedules current date bg) 4.67:1, meets wcag 2.0 aa */
$green: #358535; /* contrast ratio with #ffffff 4.61:1, meets wcag 2.0 aa */
$green-lighter: #d7f5cd; /* lighten($green, 50%) gives a too dull shade; some colors can't be lighten without adding some yellow to keep them at least a bit vivid */
$cyan: #168293; /* contrast ratio with #ffffff 4.52:1, meets wcag 2.0 aa */
$formalblue: #2B3A42;
$kifiblack: #4c4c4c;
$kififooter: #dedcdc;
// $skyblue: #028fcc; /* not enough contrast with #fff to meet wcag 2.0 aa; use $blue */
$navbar-bg: $kifiblack; /* use the same grayish black that we use in other sites too */
$sidebar-bg: whitesmoke;
$content-bg: white;
$footer-bg: $kififooter; /* use the same gray that we use in other sites too */
$highlight: #ffc314; /* got to be lighter than orange -> better contrast; and lighter shade needs more yellow otherwise it gets dull */
$table-bg-accent: red;
$gray-200: #edf1f5;

$modal-backdrop-opacity: 1;
$carousel-control-opacity: 1;
$gallery-thumbnail-bg-opacity: 0.5;

$theme-colors: (
  "navbar": $navbar-bg,
  "secondary": $blue,
  "highlight": $highlight,
);

// Fonts

$h1-font-size: xx-large;
$h2-font-size: x-large;
$h3-font-size: large;
$h4-font-size: large;
$h5-font-size: medium;
$h6-font-size: small;

$headings-font-family: 'Roboto Condensed', sans-serif;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Georgia', serif; /* Custom variable */
$headings-font-weight: 400;
$font-weight-light: 300;
$font-weight-base: $font-weight-light;

// Can be used for e.g. components that are absolute-positioned and might be covered by other elements.
$zindex-raised: 1;

//$input-border-color: $gray-600;
$nav-tabs-border-radius: .5rem;
$breadcrumb-padding-y: .5rem;
$breadcrumb-margin-bottom: 0;

@import "bootstrap";
@import "font-awesome";
@import "~chosen-js/chosen.min.css";
@import "theme";
