/*
 * Spinner based on code from: https://projects.lukehaas.me/css-loaders/
 */

$bg-0: $primary;
$bg-1: darken($primary, 10%);
$bg-2: lighten($primary, 20%);

form[data-loading] {
  .loader {
    display: inline-block !important;
    position: absolute;
    vertical-align: middle;
    margin-top: 0.75rem;
  }
}
.loader {
  // display: block;
  // display: inline-block;

  // position: absolute;
  // right: -3rem;
  // top: -0.75rem;

  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0) scale(0.1, 0.1);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em $bg-2, 2.5em 0em 0 0em $bg-2, 1.75em 1.75em 0 0em $bg-2, 0em 2.5em 0 0em $bg-2, -1.8em 1.8em 0 0em $bg-2, -2.6em 0em 0 0em $bg-1, -1.8em -1.8em 0 0em $bg-0;
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em $bg-0, 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em $bg-2, 1.75em 1.75em 0 0em $bg-2, 0em 2.5em 0 0em $bg-2, -1.8em 1.8em 0 0em $bg-2, -2.6em 0em 0 0em $bg-2, -1.8em -1.8em 0 0em $bg-1;
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em $bg-1, 1.8em -1.8em 0 0em $bg-0, 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em $bg-2, 0em 2.5em 0 0em $bg-2, -1.8em 1.8em 0 0em $bg-2, -2.6em 0em 0 0em $bg-2, -1.8em -1.8em 0 0em $bg-2;
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em $bg-2, 1.8em -1.8em 0 0em $bg-1, 2.5em 0em 0 0em $bg-0, 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em $bg-2, -1.8em 1.8em 0 0em $bg-2, -2.6em 0em 0 0em $bg-2, -1.8em -1.8em 0 0em $bg-2;
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em $bg-2, 1.8em -1.8em 0 0em $bg-2, 2.5em 0em 0 0em $bg-1, 1.75em 1.75em 0 0em $bg-0, 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em $bg-2, -2.6em 0em 0 0em $bg-2, -1.8em -1.8em 0 0em $bg-2;
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em $bg-2, 1.8em -1.8em 0 0em $bg-2, 2.5em 0em 0 0em $bg-2, 1.75em 1.75em 0 0em $bg-1, 0em 2.5em 0 0em $bg-0, -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em $bg-2, -1.8em -1.8em 0 0em $bg-2;
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em $bg-2, 1.8em -1.8em 0 0em $bg-2, 2.5em 0em 0 0em $bg-2, 1.75em 1.75em 0 0em $bg-2, 0em 2.5em 0 0em $bg-1, -1.8em 1.8em 0 0em $bg-0, -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em $bg-2;
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em $bg-2, 1.8em -1.8em 0 0em $bg-2, 2.5em 0em 0 0em $bg-2, 1.75em 1.75em 0 0em $bg-2, 0em 2.5em 0 0em $bg-2, -1.8em 1.8em 0 0em $bg-1, -2.6em 0em 0 0em $bg-0, -1.8em -1.8em 0 0em #ffffff;
  }
}

@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em $bg-2, 2.5em 0em 0 0em $bg-2, 1.75em 1.75em 0 0em $bg-2, 0em 2.5em 0 0em $bg-2, -1.8em 1.8em 0 0em $bg-2, -2.6em 0em 0 0em $bg-1, -1.8em -1.8em 0 0em $bg-0;
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em $bg-0, 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em $bg-2, 1.75em 1.75em 0 0em $bg-2, 0em 2.5em 0 0em $bg-2, -1.8em 1.8em 0 0em $bg-2, -2.6em 0em 0 0em $bg-2, -1.8em -1.8em 0 0em $bg-1;
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em $bg-1, 1.8em -1.8em 0 0em $bg-0, 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em $bg-2, 0em 2.5em 0 0em $bg-2, -1.8em 1.8em 0 0em $bg-2, -2.6em 0em 0 0em $bg-2, -1.8em -1.8em 0 0em $bg-2;
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em $bg-2, 1.8em -1.8em 0 0em $bg-1, 2.5em 0em 0 0em $bg-0, 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em $bg-2, -1.8em 1.8em 0 0em $bg-2, -2.6em 0em 0 0em $bg-2, -1.8em -1.8em 0 0em $bg-2;
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em $bg-2, 1.8em -1.8em 0 0em $bg-2, 2.5em 0em 0 0em $bg-1, 1.75em 1.75em 0 0em $bg-0, 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em $bg-2, -2.6em 0em 0 0em $bg-2, -1.8em -1.8em 0 0em $bg-2;
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em $bg-2, 1.8em -1.8em 0 0em $bg-2, 2.5em 0em 0 0em $bg-2, 1.75em 1.75em 0 0em $bg-1, 0em 2.5em 0 0em $bg-0, -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em $bg-2, -1.8em -1.8em 0 0em $bg-2;
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em $bg-2, 1.8em -1.8em 0 0em $bg-2, 2.5em 0em 0 0em $bg-2, 1.75em 1.75em 0 0em $bg-2, 0em 2.5em 0 0em $bg-1, -1.8em 1.8em 0 0em $bg-0, -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em $bg-2;
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em $bg-2, 1.8em -1.8em 0 0em $bg-2, 2.5em 0em 0 0em $bg-2, 1.75em 1.75em 0 0em $bg-2, 0em 2.5em 0 0em $bg-2, -1.8em 1.8em 0 0em $bg-1, -2.6em 0em 0 0em $bg-0, -1.8em -1.8em 0 0em #ffffff;
  }
}
