@import "~leaflet/dist/leaflet.css";
@import "bootstrap/bootstrap";
@import "page.search";
@import "index";
@import "throbber";
@import "sticky-footer";

html {
  // Fix content shift when vertical scrollbar is toggled.
  margin-left: calc(100vw - 100%);
}

.navbar.sticky-top {
  // Countermeasure to content shift fix in html{}
  margin-left: calc(100% - 100vw);
  padding-left: calc(#{$navbar-padding-x} + 100vw - 100%);
}

#l-footer,
#l-alert-box {
  margin-left: calc(100% - 100vw);
  padding-left: calc(#{spacing(3)} + 100vw - 100%);
}

.anchor {
  width: 0;
  height: 0;
  position: absolute;
  margin-top: calc(-40px - 1.5rem);
}

.link {
  color: theme-color("primary");
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.external-link:after {
  font-size: x-small;
  font-family: FontAwesome;
  content: " \F08E";
}

.page-title {
  @extend .my-3;

  font-size: xx-large;
  font-weight: bold;
}

h2 .svg-inline--fa,
h3 .svg-inline--fa {
  @extend .bg-highlight;
  @extend .py-1;
  @extend .px-1;
  @include border-radius();

  width: 1.5em !important;
  height: 1.4em;
  margin-bottom: -0.2em;
}

@include media-breakpoint-down("md") {
  .container {
    max-width: none;
  }
}
