@import "bootstrap/bootstrap";
@import "page.search";
@import "index";
@import "throbber";
@import "~leaflet/dist/leaflet.css";

html {
  // Fix content shift when vertical scrollbar is toggled.
  margin-left: calc(100vw - 100%);
}

.navbar.sticky-top {
  // Countermeasure to content shift fix in html{}
  margin-left: calc(100% - 100vw);
  padding-left: calc(#{$navbar-padding-x} + 100vw - 100%);
}

.anchor {
  width: 0;
  height: 0;
  position: absolute;
  margin-top: calc(-40px - 1.5rem);
}

.link {
  color: theme-color("primary");
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.external-link:after {
  font-size: x-small;
  font-family: FontAwesome;
  content: " \F08E";
}

.page-title {
  @extend .my-3;

  font-size: xx-large;
  font-weight: bold;
}

@include media-breakpoint-down("md") {
  .container {
    max-width: none;
  }
}


#nav-main {
  .vue-js-switch {
    margin: 0;
  }
}
