
$peek-lines: 2;
$peek-shadow: 1em;
$peek-toggle-height: 0.5em;

$peek-expand: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAQCAYAAABgIu2QAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4gULCykw5nNY/gAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAADXSURBVEjH7dQxDoMwDAXQD7foFdhyga7N0oUNqXegytq5a9XcIVI2li7p2guwcYXeImLJQK0AFumCwKPxsyyHBNhjo5HFknndngCUAIqQ6gA0Xov3WKO8bg8AKgAypBwA67X4/sNkEXwFcBnpbbwWz4g5AniMGOW1+KSaLLLJ+8wp3IabDVt5zZjzcEuLDPlYMn4XWlMxTJVq6KAFowGtkQwjU02+lltPB+0YhtY4hnGphg7aMBrQGsswNtX8DBpus5nAhr6l4WaqCaPou7jErObB32Oz0QMPrWCvnX5CjgAAAABJRU5ErkJggg==";

.content-peek {
  line-height: 1em;
  max-height: $peek-lines + $peek-shadow;
  overflow: hidden;
  position: relative;

  .content-peek-cover {
    width: 100%;
    height: $peek-shadow;
    position: absolute;
    bottom: 0;
    text-align: center;

    background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.50) 0%,
      // rgba(255, 255, 255, 0.65) 25%,
      rgba(255, 255, 255, 0.90) 85%
    );
  }

  button[data-peek-toggle] {
    width: 2em;
    margin-left: -1em;
    display: block;

    line-height: $peek-toggle-height;
    border-width: 0;
    border-radius: $peek-toggle-height;
    cursor: pointer;

    position: absolute;
    bottom: 0;
    left: 50%;

    &:after {
      content: "⦁⦁⦁";
    }
  }
}

.content-peek[data-expanded] {
  max-height: none;
  padding-bottom: $peek-toggle-height + 0.5em;

  .content-peek-cover {
    height: $peek-toggle-height;
    background: none;
  }

  button[data-peek-toggle] {
    // display: none;
  }
}
