$secure-email-label: (
  en: "Email address protected",
  fi: "Sähköpostiosoite suojattu",
  sv: "asdasdsadas"
) !default;


.secure-email {
  font-size: 0;
  font-style: italic;

  &:after {
    font-size: $font-size-base;
    // content: $secure-email-label;
  }

  @each $lang, $value in $secure-email-label {
    &:lang(#{$lang}):after {
      content: $value;
    }
  }
}
