.switch {
  $width: 4rem;

  width: $width;
  height: 1.8rem;
  position: relative;
  margin: map-get($spacers, 1) 0;

  input {
    display: none;
  }

  .switch-groove {
    width: 100%;
    height: 98%;
    display: block;
    background-color: $gray-600;
    border-radius: 1.3rem;
    //border: 1px solid darken($gray-600, 15%);
  }

  .switch-handle {
    @extend .bg-white;

    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 1rem;
    display: block;
    top: .2rem;
    
    margin-left: 0.3rem;
  }

  .switch-groove,
  .switch-handle {
    transition: 0.3s margin-left, 0.3s background-color;
  }

  .switch-label {
    z-index: 1;
    position: absolute;
    left: $width + map-get($spacers, 1);
    top: 0.2rem;
  }
}

.switch[aria-pressed="true"] {
  .switch-groove {
    @extend .bg-primary;
    //border: 1px solid darken($primary, 15%);
  }

  .switch-handle {
    margin-left: calc(100% - 1.3rem - 0.3rem);
  }
}
