#page--frontpage {
  .showcase-wrapper {
    background-color: $content-bg;
  }

  .showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    margin: 0 0 map-get($spacers, 3);

    .card-body {
      display: flex;
      flex-flow: column;
      justify-content: center;

      background-color: #fafafa;
    }

    .photo-frame {
      height: 200px;

      img {
        min-width: 100%;
        min-height: 100%;
      }
    }
  }

  .card.empty {
    visibility: hidden;
  }
}

@include media-breakpoint-only("xs") {
  .card {
    flex-basis: 100%;
  }
}

@include media-breakpoint-only("sm") {
  .card {
    flex-basis: 49%;
  }
}

@include media-breakpoint-only("md") {
  .card {
    flex-basis: 31%;
  }

  .card:nth-child(10) {
    display: none;
  }
}

@include media-breakpoint-up("lg") {
  .card {
    flex-basis: 23%;
  }

  .card:nth-child(9),
  .card:nth-child(10) {
    display: none;
  }
}
