#page--contact-info {
  .map-container {
    height: 13rem;
  }

  .contact-details {
    padding: 0;
    margin-bottom: $spacer;
    background-color: $gray-200;
    border-radius: $border-radius;
    // border: 1px solid $input-border-color;
    // color: $gray-lighter;

    figure {
      text-align: center;
      overflow: hidden;
      max-height: 195px;
      margin: 0;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;

      img {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }

    .col-md-8 {
      margin-top: $spacer;
    }

    .responsive-table {
      margin-left: ($spacer - $table-cell-padding-sm);
    }

    table.contact {
      font-size: $font-size-base;

      tr.email > th,
      tr.email > td {
        padding-top: map-get($spacers, 2);
        vertical-align: bottom;
      }
    }

    @include media-breakpoint-down("sm") {
      // padding: 0 $spacer;
      figure {
        display: none;
      }
    }
  }

  .phone-numbers {
    table.phones {
      td:nth-child(2) {
        min-width: 8rem;
        white-space: nowrap;
      }
    }
  }

  section {
    padding-top: map-get($spacers, 3);

    h2 {
      font-size: $h3-font-size;
      margin-left: $spacer;

      .fa {
        background-color: $highlight;
        margin-right: map-get($spacers, 1);
        padding: map-get($spacers, 1) map-get($spacers, 2);
        border-radius: $border-radius;
      }
    }
  }

}
