#page--library-details {
  .website-details,
  .transit-details {
    ul {
      padding-left: map-get($spacers, 4);
      li.list-circle {
        list-style: outside;
        margin-left: ($spacer * 1.25);
      }
    }
  }

  .transit-details {
    tbody, tfoot {
      font-size: $font-size-base;
    }
  }

  .building-details {
    margin-top: $spacer; 
    padding-top: $spacer;
    border-top: 1px solid $table-border-color;

    dt {
      font-weight: 400;
    }
  }

  .map-container {
    width: 100%;
    height: 600px;
    border: 1px solid #888;
  }

  .nearest-libraries {
    margin-top: 1rem;
    ul {
      padding-left: 0;
    }
  }

  @include media-breakpoint-up("sm") {
    .building-details {
      dl {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        dd {
          padding: 0 $spacer 0 map-get($spacers, 1);
        }
      }
    }
  }
}
