#page--search {
  background: linear-gradient(to right, $content-bg 0%, $content-bg 50%, $sidebar-bg 50%, $sidebar-bg 100%);

  .main {
    padding-top: 0;
  }

  .sidebar {
    background-color: $sidebar-bg;
  }

  .quick-search {
    padding-top: $spacer;
  }

  .pagination {
    margin-top: $spacer;
  }

  form[data-pager-finished] {
    .pager {
      display: none;
    }
  }

  #toggle-advanced-search {
    &[aria-expanded="false"]:after {
      font-family: FontAwesome;
      content: " \f0fe";
    }

    &[aria-expanded="true"]:after {
      font-family: FontAwesome;
      content: " \f196";
    }
  }

  #l-search-filters {
    padding-bottom: $spacer;

    // Fixes issues with Chosen popups being rendered under footer text.
    z-index: $zindex-dropdown;
  }

  #l-search-filters.expanded {
    #library-search-form-content {
      display: block !important;
    }
  }

  #form-input-throbber {
    position: absolute;
    font-size: 36px;
    margin-left: -1em;
    margin-top: 5px;
  }

  @include media-breakpoint-up("xs") {
    .quick-search {
      background-color: $sidebar-bg;
    }

    .sidebar {
      border-bottom: 1px solid $input-border-color;
    }
  }

  @include media-breakpoint-down("md") {
    .break-bar-container,
    .break-bar.gap {
      background-color: $sidebar-bg;
    }

    .main {
      background-color: $content-bg;
    }

    .form-control-lg {
      font-size: $font-size-base;
    }

    .checkbox {
      display: inline-block;
      margin-right: $spacer;
    }

    #geo-field {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      .switch-label {
        left: -2.7rem;
      }
    }
  }

  @include media-breakpoint-up("lg") {
    #library-search-form-content {
      // Remove space between search settings options
      padding-top: 0;
      margin-top: -(map-get($spacers, 2));
    }
  }

  /*
   * Fixes issues with the search form stretching after applying sticky footer.
   */
  @include media-breakpoint-down("md") {
    .content-wrap {
      flex-flow: column;
    }

    .content {
      flex-grow: 1;
    }
  }

  @include media-breakpoint-up("lg") {
    .quick-search {
      background-color: $content-bg;
    }

    .sidebar {
      margin-top: -5em;
      border-left: 1px solid $input-border-color;
      border-bottom-width: 0;
    }

    #l-search-filters {
      position: sticky;
      top: 3.5rem;
    }

    #geo-field {
      // Imitate margin-bottom from .form-group
      margin-bottom: map-get($spacers, 2);
    }
  }
}
