{% extends "base.html.twig" %}

{% if app.request.locale == "en" %}
  {% set feedback_domain = "libraries.fi" %}
{% else %}
  {% set feedback_domain = "kirjastot.fi" %}
{% endif %}

{% if app.request.locale == "fi" %}
  {% set feedback_url = "https://www.kirjastot.fi/feedback/kirjastohakemisto" %}
  {% set privacy_url = "https://www.kirjastot.fi/rekisteriselosteet" %}
{% elseif app.request.locale == "sv" %}
  {% set feedback_url = "http://beta.biblioteken.fi/feedback/kirjastohakemisto" %}
  {% set privacy_url = "http://www.biblioteken.fi/info#cookie-info" %}
{% else %}
  {% set feedback_url = "https://www.libraries.fi/feedback/kirjastohakemisto" %}
  {% set privacy_url = "https://www.libraries.fi/node/211157#cookie-info" %}
{% endif %}

{% block main %}
<main class="container main">
  <ul>
    <li>
      <a href="{{ feedback_url }}" class="external-link">{% trans %}Contact{% endtrans %}</a>
    </li>
    <li>
      <a href="{{ privacy_url }}" class="external-link">{% trans %}Privacy statement{% endtrans %}</a>
    </li>
    <li>
      <a href="{{ path('accessibility-statement') }}">{% trans %}accessibility_statement.title{% endtrans %}</a>
    </li>
    <li>
      <a href="{{ path('open-data') }}">{% trans %}Open data and widgets{% endtrans %}</a>
    </li>
  </ul>
</main>
{% endblock %}
