{% extends "base.html.twig" %}

{% set embed_builder_url = "https://hakemisto-legacy.kirjastot.fi/%s/widget"|format(app.request.locale) %}

{% if page_title is not defined %}
  {% set page_title = "Open data"|trans %}
{% endif %}

{% block main %}
<main class="container main">
  <h1>{{ page_title }}</h1>
  <p>{% trans %}open_data.info{% endtrans %}</p>

  <h2>{% trans %}API{% endtrans %}</h2>
  <p>{% trans %}open_data.api.info{% endtrans %}</p>
  <p><a href="https://{{ api_domain }}" class="external-link">{% trans %}API documentation{% endtrans %}</a></p>

  <h2>{% trans %}Embed{% endtrans %}</h2>
  <p>{% trans %}open_data.embed.info{% endtrans %}</p>

  <p><b>{% trans %}open_data.embed.legacy{% endtrans %}</b></p>
  <p><a href="{{ path('widget-builder') }}">{% trans %}open_data.embed.link_label{% endtrans %}</a></p>
  <p><a href="{{ embed_builder_url }}" class="external-link">{% trans %}open_data.embed.legacy_link_label{% endtrans %}</a></p>
</main>
{% endblock %}
