{% extends "Library/index.html.twig" %}

{% block index_content %}
  <!--<h1>{% trans %}Consortiums{% endtrans %}</h1>-->
  <h1>{% trans %}Index{% endtrans %}: {% trans %}Libraries{% endtrans %}</h1>
  <nav>
    {%- set tabs = [
      {url: path("library.index"), title: "Alphabetical index"},
      {url: path("library.index_by_consortium"), title: "By consortium"},
      {url: path("library.index_by_city"), title: "By city"},
    ] %}
    {% include "component/mockup_tabs.html.twig" %}
  </nav>
  {% for group in result %}
    <section class="row">
      <div class="col-12">
        <h2 id="{{ group[0].consortium.name }}">{{ group[0].consortium.name }}</h2>
      </div>
      {{ block("result_iter_list") }}
    </section>
  {% endfor %}
{% endblock %}
