<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <title>Suomen kirjastot – Kirjastohakemisto</title> -->
    <title>{% block title %}Welcome!{% endblock %}</title>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,300i,400,700");
    </style>

    <noscript>
      <style>
        blockquote {
          margin: 0;
          font-style: italic;
        }

        address h3 {
          font-style: normal;
        }

        footer {
          margin-top: 15px;
          margin: 0;
        }
      </style>
    </noscript
  </head>
  <body id="page--frontpage">
    <div id="app"></div>

    <noscript>
      <nav>
        <a href="{{ path('front') }}">{% trans %}Library Directory{% endtrans %}</a>
        <a href="{{ path('search') }}">{% trans %}Search{% endtrans %}</a>
        <a href="{{ path('libraries') }}">{% trans %}Libraries{% endtrans %}</a>
        <a href="{{ path('consortiums') }}">{% trans %}Consortiums{% endtrans %}</a>
      </nav>
      {% block body %}
        <p>{% trans %}This page is not supported in the simplified version of Library Directory.{% endtrans %}</p>
      {% endblock %}

      <footer>
        <small>{% trans %}Service provided by Libraries.fi{% endtrans %}</small>
      </footer>
    </noscript>

    {% if app.environment == "dev" %}
      <script src="/dev/main.js"></script>
    {% else %}
      <script src="/dist/main.js"></script>
    {% endif %}
  </body>
</html>
