{% extends "base.html.twig" %}

{% block body %}
  <h1>Finnish Library Directory</h1>
  <p>Welcome to the Finnish Library Directory. Here you will find all the libraries in Finland.</p>
  <p>For the best experience you should enable support for JavaScript in your browser.</p>
  <p>To ensure compatibility with less capable browsers, we do also offer a primitive user interface for accessing the information on this website.</p>
{% endblock %}
