/*
 * Matching the heights of table headings and the buttons aligned with it seems to be a guessing game,
 * some values are rounded differently between Firefox and Chrome.
 */
$-thead-height: 2.61rem;

.schedules-weekly {

  position: relative;
  margin-top: map-get($spacers,2);

  // Attempting to make these of equal height but either Chrome or Firefox won't play ball.
  th:not([scope="row"]), .btn {
    line-height: $line-height-lg;
    padding: $table-cell-padding-sm $input-btn-padding-x;
    font-size: $font-size-lg;
  }

  .btn {
    width: 3rem;
    height: calc(1px + #{$-thead-height});
    position: absolute;
    z-index: $zindex-raised;
    border: $table-border-width solid $table-border-color;
  }

  .btn-arrow {
    font-size: $font-size-lg;
    font-weight: bold;
  }

  .btn[data-previous-page] {

  }

  .btn[data-next-page] {
    right: 0;
  }

  th[scope="row"] {
    width: 3rem;
  }

  td:last-child {
    white-space: nowrap;
  }

  tr.time {
    &.status-closed {
      background-color: lighten($red, 40%);
    }

    &.status-open {
      background-color: $green-lighter;
    }

    &.status-self-service {
      background-color: lighten($cyan, 60%);
    }
  }

  tr.time--sub {
    font-size: small;
    font-weight: $font-weight-base;

    td {
      border-width: 0;
      padding-top: 0;
    }
  }

  tr.time--sub.time--closed {
    color: $red-darker;

    td:first-child:before {
      font-family: FontAwesome;
      content: "\f071";
    }
  }

  th:last-child,
  td:last-child {
    text-align: center;
  }

  .opentime-additional-info {
    font-size: $font-size-base;
    display: block;
  }
}

.schedules-weekly[data-paged-table] {
  tbody {
    // Copies .sr-only for hiding other rows from view in a screen reader -friendly way

    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    position: absolute;
    overflow: hidden;
  }

  tbody[data-current-page] {
    display: table-row-group;
    position: static;
    width: auto;
    height: auto;
    clip: auto;
  }

  tbody + tbody {
    // Unsets Bootstrap's styling.
    border-top-width: 0 !important;
  }

  tbody > tr:first-child > th {
    height: $-thead-height;
    vertical-align: middle;
  }

  .time--sub {
    td:first-child:before {
      content: "➥";
    }
  }

  .time--sub.closed {
  }
}

.schedules-period {
  font-size: small;
}
