.some-links {
  margin-bottom: ($spacer * 1.25);
  font-size: 0;
  a {
    margin-right: map-get($spacers, 2);
  }
  a:hover {
    opacity: .85;
  }
  img {
    margin-top: map-get($spacers, 2);
  }
}

@include media-breakpoint-up("md") {
  .some-links {
    margin-top: -(map-get($spacers, 2));
  }
}